/* Header
--------------------------------------*/
header {
  margin-top: 5.6rem;
  text-align: center;
}
.header__heading {
  padding: 0 2rem;
  font-size: 1.6rem;
  color: $clr-txt-header-h;
  letter-spacing: 0.06rem;
}
.header__paragraph {
  padding: 1.2rem 2rem 0 2rem;
  color: $clr-txt-header-p;
  line-height: 1.6rem;
}
@media (min-width: $breakpoint-md) {
  header {
    justify-self: center;
    margin-top: 0;
    margin-left: 63%;
    margin-right: 15rem;
    padding-left: 2rem;
    text-align: left;
  }
  .header__heading {
    margin-top: 0.75rem;
    padding: 0;
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .header__paragraph {
    width: 100%;
    max-width: 35rem;
    margin-top: 1.5rem;
    padding: 0;
  }
}

/* Main - containing accent 
/* and input form and term
--------------------------------------*/
main {
  padding-top: 4rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  @media (min-width: $breakpoint-md) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    max-width: 36rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
  }
}
.accent {
  padding: 1.4rem 3.7rem 1rem 3.7rem;
  font-size: 0.6rem;
  color: $clr-txt-accent;
  letter-spacing: 0.02rem;
  line-height: 1.5rem;
  text-align: center;
  background-color: $clr-bg-accent;
  box-shadow: 0 0.5rem 0 $clr-shadow-accent;
  border-radius: 0.75rem;
  @media (min-width: $breakpoint-md) {
    margin-top: 0.2rem;
    padding: 1.2rem 3.7rem 1.2rem 3.7rem;
  }
}
.accent__heading {
  font-weight: 400;
}
.accent__subheading {
  font-weight: 700;
}
.form__container {
  margin-top: 1.5rem;
  margin-bottom: 5rem;
  padding-bottom: 1.5rem;
  background-color: $clr-bg-form;
  box-shadow: 0 0.5rem 0 $clr-shadow-form;
  border-radius: 0.75rem;
  @media (min-width: $breakpoint-md) {
    padding-bottom: 2.5rem;
  }
}
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1.5rem 0 1.5rem;
  @media (min-width: $breakpoint-md) {
    gap: 1.2rem;
    padding: 2.5rem 2.5rem 0 2.5rem;
  }
  input {
    height: 3.5rem;
    width: 100%;
    padding: 0.2rem 0 0 1.1rem;
    font-size: 0.9rem;
    font-weight: 600;
    letter-spacing: 0.03rem;
    border: 0.01rem solid $clr-border-input;
    border-radius: 0.25rem;
    &:focus {
      border: 0.1rem solid black;
      outline: none;
    }
    @media (min-width: $breakpoint-md) {
      padding-left: 2rem;
    }
  }
  .error {
    background-image: url('../images/icon-error.svg');
    background-repeat: no-repeat;
    background-position: top 50% right 1.5rem;
  }
  .errMsgBox {
    margin-top: 0.5rem;
    font-size: 0.7rem;
    color: $clr-txt-err;
    text-align: right;
  }
}
.btn__submit {
  height: 3.5rem;
  padding-top: 0.4rem;
  font-size: 0.9rem;
  font-weight: 400;
  color: $clr-txt-btn;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
  background-color: $clr-bg-btn;
  box-shadow: 0 0.2rem 0 $clr-shadow-btn;
  border: 0;
  cursor: pointer;
  &:hover {
    background-color: $clr-bg-btn-hover;
  }
  @media (min-width: $breakpoint-md) {
    gap: 1.5rem;
  }
}
.term {
  margin-top: 0.5rem;
  padding: 0 2.5rem;
  font-size: 0.7rem;
  color: $clr-txt-terms;
  line-height: 1.5rem;
  text-align: center;
  @media (min-width: $breakpoint-md) {
    margin-top: 0.75rem;
  }
}
.term__lnk {
  font-weight: 600;
  color: $clr-txt-terms-lnk;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
